[submodule "frontend/task-1"]
	path = Frontend/task-1
	url = https://github.com/roaa46/todo-task.git
[submodule "backend/task-1"]
	path = Backend/task-1
	url = https://github.com/roaa46/hello-world-API.git
[submodule "frontend/task-2"]
	path = frontend/task-2
	url = https://github.com/roaa46/crud-ui.git
[submodule "frontend/task-2.git"]
	path = frontend/task-2.git
	url = https://github.com/roaa46/crud-ui
